.profile_page {
  display: flex;
  flex-direction: column;
}
.profile_page .body {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.profile_page .body .verify_icon {
  width: 20vw;
  margin-top: 15vh;
}
.profile_page .body .name {
  font-size: 16px;
  font-weight: 600;
  margin: 5vh 0 3vh;
}
.profile_page .body .action {
  margin-top: 5vh;
}
.profile_page .body button {
  width: 35vw;
  background-color: #03045E;
  color: #F9F9F9;
  border: none; /* Optional: Remove default border */
  padding: 10px 20px; /* Optional: Adjust padding as needed */
  font-size: 16px; /* Optional: Adjust font size as needed */
  cursor: pointer; /* Optional: Change cursor to pointer */
}
.profile_page .body button:hover {
  background-color: #02034A; /* Optional: Slightly darker shade on hover */
}